* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
    text-align: center;
    background-color: orange;
    height: 100px;
    line-height: 100px;
    margin-bottom: 50px;
}

.title-case {
    font-size: x-large;
    font-weight: bolder;
    color: blue;
}

body {
    background-color: grey;
}

.quiz-question-answer-container {
    margin-left: 20px;
    border: solid 1px black;
    text-align: center;
    height: 400px;
    background-color: white;
    float: left;
    width: 65%;
}

.quiz-header {
    margin-top: 0;
    margin-bottom: 40;
    padding: 20px;
    height: 102px;
    background-color: blue;
}

.quiz-question {
    margin: 0 auto;
    border: solid 1px black;
    height: 98px;
    line-height: 100px;
    width: 70%;
    background-color: white;
}

.quiz-choice-container {
    margin: 0 auto;
    margin-top: 25px;
    border: solid 1px black;
    width: 80%;
}

.quiz-choices {
    text-align: left;
    margin: 10px 0px;
    border: solid 1px pink;
}

.leaderboard-rankings {
    padding: 0;
    border: solid 1px black;
    text-align: center;
    height: 400px;
    background-color: white;
    float: right;
    width: 30%;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

.timer-and-start {
    margin: 0 auto;
    height: 100px;
    width: 80%;
}

.start-button, .timer {
    margin-top: 25px;
    float: left;
    border: solid 1px black;
}

.timer {
    float: right;
}
